.style {
    height: 100px;
    width: 250px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  @keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: red;
      border-radius: 100%;
    }
    50% {
      background-color: orange;
    }
    100% {
      transform: scale(1.5);
      background-color: yellow;
    }
  }

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 300px;
    margin: 30px auto;
    padding: 30px;
    font-size: 40px;
}

.tooltiptext{
    border-radius: 100px;
    width: 1000px;
    padding: 30px;
    font-size: 50px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    position: relative;
    z-index: 1;
}
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
}

.style1 {
    width: 60px;
    height: 90px;
    background-color: rgb(230, 165, 165);
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; right:200px; top:200px;}
    75%  {background-color:green; left:200px; top:0px;}
    100% {background-color:rgb(230, 165, 165); left:0px; top:0px;}
  }

  @keyframes typeIt {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

.typing {
    position: relative;
    margin-top: 50px;
}

.typing-text {
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    white-space: nowrap;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
}

.typing-text::before{
    content: "IODATA";
    position: absolute;
    top: 0;
    left: 220px;
    width: 100%; height: 100%;
    color: rgb(197, 8, 8);
    overflow: hidden;
    animation: typeIt 3.5s steps(4);
    background-color:rgb(230, 165, 165);
}


.contents-item1{
    float: left;
    width: 100px;
    padding-left: 100px;
    margin-right: 40px;
}

.contents-item2{
    float: right;
    width: 100px;
    padding-left: 100px;
    margin-right: 40px;
}
